h1{
    font-size: 4em;
    margin: 0em 0em 1em 0em;
    text-align: center;
    font-weight: bold;
}

#messageText{
    margin-bottom: 0em;
}

button {
    display: none;
    background-color: red;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 500px){
    h1{
        font-size: 2em;
        margin: 0em 0em .5em 0em;
        text-align: center;
    }

    h2{
        font-size: 1em;
    }
}